.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.meme span {
  position: absolute;
  margin-top: 18%;
  font-size: 38px;
  color: black;
  width: 100%;
  left: 0%;
  text-shadow: -2px 0 0 #fff, 0 -2px 0 #fff, 2px 0 0 #fff, 0 2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, -2px -2px 0 #fff, 2px 2px 0 #fff, 3px 3px 4px rgba(0,0,0,0.5);
}

.meme span:nth-child(1){
  margin-top: 290px;
}

.meme img{
  width: 100%;
  height: 60%;
}
